@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&display=swap');

:root {
  --default: whitesmoke;
  --bot: #468138;
  --fin: #002f6c;
  --for: #228b22;
  --ire: #40c575;
  --psy: #fd209a;
}

/* HEADER START */
#navigation {
  width: 100%;
  position: relative;
  text-decoration: none;
}

nav {
  margin-top: -1rem;
  margin-left: 38.5px;
}

nav:after {
  clear: both;
}

nav ul li {
  display: inline;
  position: relative;
  margin-left: 1em;
}

nav ul li a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  cursor: pointer;
  color: whitesmoke;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  font-weight: 100;
  text-shadow: 0 0 3px black;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header {
  height: 88px;
  z-index: 2;
}

header h1 {
  letter-spacing: 4px;
  font-weight: 200;
}
header h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: 2px;
}
/* HEADER END */

/* MAIN START */
body {
  color: whitesmoke;
  background: black;
  margin: 0 auto;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  text-align: center;
}

/* ABOUT PAGE START */
#about-page {
  display: none;
}

#text-content {
  margin: auto;
  text-align: justify;
  max-width: 40vw;
}

#text-content img {
  width: 100%;
}

#text-content a {
  color: #bbb;
}
/* ABOUT PAGE END */

a,
li {
  color: rgb(60, 60, 60);
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 2em;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

#name {
  letter-spacing: -0.04em;
}

#pp {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.08em;
}

h2,
h3 {
  font-family: 'Cinzel', serif;
  font-weight: 100;
  letter-spacing: 2px;
}

/* IMAGE CONTAINER START */
#image-container {
  display: flex;
  justify-content: center;
  text-align: justify;
}

#image-container img {
  min-height: 80vh;
  max-height: 80vh;
  top: 12vh;
  position: absolute;
}

#display-img {
  animation: fadeIn ease 2s;
}

aside {
  font-size: 13px;
  bottom: 2vh;
  right: 2vw;
  position: absolute;
  font-style: italic;
  font-weight: lighter;
  /* color: rgb(60, 60, 60); */
  animation: fadeIn ease 4s;
}

.one {
  animation: fadeIn ease 6s;
}
.two {
  animation: fadeIn ease 8s;
}
.three {
  animation: fadeIn ease 12s;
}

.nav-arrow {
  font-family: 'Cinzel', serif;
  font-size: 4em;
  margin-top: 40vh;
  cursor: pointer;
  line-height: 0;
  display: none;
}

#arrow-right {
  margin-right: 4vw;
  opacity: 0.75;
  font-weight: 100;
  float: right;
}
#arrow-left {
  margin-left: 4vw;
  opacity: 0.25;
  font-weight: 100;
  float: left;
}

/* #return-arrow {
  transform: rotate(-90deg);
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  opacity: 0.75;
  line-height: 0;
} */

/* IMAGE CONTAINER END */
/* MAIN END */

/* TRANSITIONS & ANIMATIONS START */

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.fade-out {
  animation: fadeOut ease 3s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

a:hover {
  background: none;
}

[class*='botanical']:hover {
  color: var(--bot);
}
[class*='finland']:hover {
  color: var(--fin);
  filter: brightness(150%);
}
[class*='forest']:hover {
  color: var(--for);
}
[class*='ireland']:hover {
  color: var(--ire);
}
[class*='psycho']:hover {
  color: var(--psy);
  animation: text-flicker 3s ease infinite;
}

.psy-text {
  animation: text-flicker 3s ease infinite;
}

.psy-arrow {
  animation: text-flicker 3s ease infinite;
}

.offset {
  animation: letter-flicker 2s linear infinite;
}

.transition {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  2% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  30% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  77% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  100% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}

@keyframes letter-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  19% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  80% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}
/* ANIMATIONS END */

@media screen and (max-width: 1000px) {
  #image-container img {
    min-height: auto;
  }
}
