@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&display=swap');

:root {
  --default: whitesmoke;
  --default-bg: black;
  --bot: #006400;
  --fin: #002f6c;
  --for: #663300;
  --ire: #40c575;
  --psy: #fd209a;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--default);
  background: var(--default-bg);
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  text-align: center;
  display: block;
}

#wrapper {
  height: 100%;
  min-height: 100%;
  opacity: 1;
  transition: all ease 0.5s;
}

a,
li {
  color: rgb(60, 60, 60);
}

a:hover {
  background: none;
  color: var(--default);
}

#subheading,
.nav-arrow,
#nav-menu ul li a:hover {
  filter: saturate(0.5);
}

/* HEADER */
#header {
  line-height: 0;
  margin-top: 40px;
}

#header h1 {
  letter-spacing: 4px;
  font-weight: 400;
  position: sticky;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 2em;
}

#name {
  position: absolute;
  right: 288px;
  left: 0;
  letter-spacing: -0.01em;
}

#subheading {
  position: absolute;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.08em;
  transition: color ease 0.8s;
}

/* NAVIGATION MENU */
#nav-menu {
  position: absolute;
  text-decoration: none;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;

  line-height: 0;
}

#nav-menu ul li {
  display: inline;
  margin-left: 15px;
  animation: fadeIn ease 4s;
}

#nav-menu ul li a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 10s;
}

#nav-menu ul li a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#nav-menu ul li a:hover {
  cursor: pointer;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ABOUT PAGE */
#about-page {
  display: none;
  padding: 50px;
  /* margin: auto; */
}

#text-content {
  font-size: 13px;
  text-align: justify;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  animation: fadeIn ease 2s;
}
#about-img {
  position: static;
  pointer-events: none;
  width: 50%;
}

#text-content a {
  color: #bbb;
}

/* IMAGE CONTAINER */
#image-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#image-container img {
  height: 84vh;
  max-width: 100%;
  margin: 50px;
  pointer-events: none;
}

.nav-arrow {
  position: absolute;
  font-family: 'Cinzel', serif;
  font-size: 4em;
  cursor: pointer;
  line-height: 0;
  display: none;
  margin: 75px;
  transition: color ease-out 0.8s;
}

#arrow-right {
  right: 0;
  left: auto;
  opacity: 0.75;
}

#arrow-left {
  left: 0;
  right: auto;
  opacity: 0.25;
}

aside {
  font-size: 13px;
  font-style: italic;
  font-weight: lighter;
  animation: fadeIn ease-out 4s;
  bottom: auto;
  right: auto;
  position: absolute;
  align-self: flex-end;
}

/* ANIMATIONS */
.one {
  animation: fadeIn ease 6s;
}
.two {
  animation: fadeIn ease 8s;
}
.three {
  animation: fadeIn ease 10s;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.fade-out {
  animation: fadeOut ease 3s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

[class*='botanical']:hover {
  color: var(--bot);
}
[class*='finland']:hover {
  color: var(--fin);
}
[class*='forest']:hover {
  color: var(--for);
}
[class*='ireland']:hover {
  color: var(--ire);
}
[class*='psycho']:hover {
  color: var(--psy);
}

.transition {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Adjustments for lower screen heights and mobile*/
@media screen and (max-height: 1000px) {
  #image-container img {
    height: 82vh;
  }
}

@media screen and (max-height: 900px) {
  #image-container img {
    height: 80vh;
  }
}

@media only screen and (max-width: 768px) {
  #header h1 {
    letter-spacing: -2px;
  }
  #name {
    font-size: 18px;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    letter-spacing: -0.04em;
  }
  #subheading {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
    animation: fadeIn ease 2s;
  }
  #image-container {
    margin: 40px;
  }
  #image-container img {
    max-width: 100%;
    height: auto;
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .nav-arrow {
    margin: 10px;
  }
  aside {
    bottom: auto;
    right: auto;
    position: absolute;
    align-self: flex-end;
  }
  #nav-menu ul li a {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
  }
  #about-page {
    padding: 25px;
  }
  #text-content {
    font-size: 13px;
    text-align: justify;
    width: 100%;
    animation: fadeIn ease 2s;
    margin-right: auto;
  }
  #about-img {
    top: auto;
    left: auto;
    right: auto;
    position: static;
    pointer-events: none;
    width: 100%;
    height: auto;
    animation: fadeIn ease 16s;
  }
  #nav-menu ul li {
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  #image-container img {
    height: 250px;
    width: auto;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  #image-container {
    margin: auto;
  }
}
