@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&display=swap');

:root {
  --default: whitesmoke;
  --bot: #006400;
  --fin: #002f6c;
  --for: #663300;
  --ire: #40c575;
  --psy: #fd209a;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: whitesmoke;
  background: black;
  margin: 0 auto;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  text-align: center;
}

#wrapper {
  height: 100%;
  min-height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}

a,
li {
  color: rgb(60, 60, 60);
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 2em;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

#name {
  letter-spacing: -0.04em;
}

#pp {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.08em;
  animation: fadeIn ease 2s;
}

#pp,
.nav-arrow,
#nav-menu ul li a:hover {
  filter: saturate(0.5);
}

.gal-col {
  /* transition: color ease 4s; */
}

/* HEADER */

#header {
  margin-top: 50px;
  line-height: 0;
}

#header h1 {
  letter-spacing: 4px;
  font-weight: 200;
}

/* NAVIGATION MENU */
#nav-menu {
  position: absolute;
  text-decoration: none;
  left: -25px;
  top: -5px;
}

#nav-menu ul li {
  display: inline;
  margin-right: 15px;
  animation: fadeIn ease 4s;
}

#nav-menu ul li a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

#nav-menu ul li a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#nav-menu ul li a:hover {
  cursor: pointer;
  /* color: whitesmoke; */
  font-weight: 100;
  text-shadow: 0 0 3px black;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ABOUT PAGE */
#about-page {
  display: none;
}

#text-content {
  text-align: justify;
  max-width: 40vw;
  max-height: 40vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: fadeIn ease 2s;
}

#about-img {
  opacity: 0.33;
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -10;
}

#text-content a {
  color: #bbb;
}

/* IMAGE CONTAINER */
#image-container {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
}

#image-container img {
  height: 900px;
  top: 100px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

/* IMAGE CAPTION */
aside {
  font-size: 13px;
  bottom: 30px;
  right: 45px;
  position: absolute;
  z-index: 0;
  font-style: italic;
  font-weight: lighter;
  /* color: rgb(60, 60, 60); */
  animation: fadeIn ease 4s;
}

aside p {
  line-height: 0;
}

.one {
  animation: fadeIn ease 6s;
}
.two {
  animation: fadeIn ease 8s;
}
.three {
  animation: fadeIn ease 10s;
}

.nav-arrow {
  font-family: 'Cinzel', serif;
  font-size: 4em;
  margin-top: 40vh;
  cursor: pointer;
  line-height: 0;
  display: none;
}

#arrow-right {
  margin-right: 150px;
  opacity: 0.75;
  float: right;
}

#arrow-left {
  margin-left: 150px;
  opacity: 0.25;
  float: left;
}

/* #return-arrow {
  transform: rotate(-90deg);
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  opacity: 0.75;
  line-height: 0;
} */

/* TRANSITIONS & ANIMATIONS */
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.fade-out {
  animation: fadeOut ease 3s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

a:hover {
  background: none;
  color: var(--default);
}

[class*='botanical']:hover {
  color: var(--bot);
}
[class*='finland']:hover {
  color: var(--fin);
}
[class*='forest']:hover {
  color: var(--for);
}
[class*='ireland']:hover {
  color: var(--ire);
}
[class*='psycho']:hover {
  color: var(--psy);
}

.transition {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Adjustments for different screen heights */
@media screen and (max-height: 1000px) {
  #image-container img {
    height: 80vh;
  }
}

@media screen and (max-height: 900px) {
  #image-container img {
    height: 75vh;
  }
}
